/node_modules
/public/hot
/public/storage
/public/img/uploads/*
/public/charities/*
/public/bank_deposit_form_attachments/*
/storage/*.key
/storage/framework/laravel-excel/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
