/*
VERSION: 3.0.0
*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@400;600;700&display=swap');
@import "@bcgov/bc-sans/css/BCSans.css";
// Variables
@import 'variables';



// fontawesome
$fa-font-path:"../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// adminlte
@import 'node_modules/admin-lte/build/scss/adminlte.scss';
@import 'adminlte-override';




.check-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        padding-left: 1em;
        text-indent: -1em;
        margin: 1.2em;
    }

    li:before {
        padding-right: 5px;
    }
}


.formsteps {
    .divider {
        border-bottom: 1.5px solid;
        border-color: $gray-500;
        height: 27px;
        margin-left: -60px;
        margin-right: -60px;
        &.done {
            border-bottom: 3px solid;
            border-color: $blue;
        }
    }
    .step {
        /* &:before {
            content: '';
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid;
            border-color: $blue;
            position: absolute;
            margin-top: 25px;
        } */
        .count {
            background-color: $gray-100;
            color: $gray-500;
            border: 2px solid;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 1.5em;
            text-align: center;
            padding-top: 8px;
            margin: 0 auto;
        }
        &.active {
            .count {
                border-color: $blue;
            }
            .title {
                color: $blue;
                font-weight: bold;
            }
        }
        &.done {
            .count {
                border-color: $blue;
                background-color: $blue;
                color: #fff;
            }
            .title {
                color: $black;
                font-weight: bold;
            }
        }
    }
}

.expander {
    border: 1px solid $primary;
    border-radius: 50%;
    background-color: $primary;
    color: #fff;
    width: 1.05em;
    height: 1.05em;
    text-align: center;
    font-size: 1em;;
    line-height: 0.89em;
    &::after {
        content: '+';
    }
}

[aria-expanded="true"] .expander::after{
    content: '-';
}

// Primary Button -- https://developer.gov.bc.ca/Design-System/Primary-Button
a:hover {
    text-decoration: underline !important;
    opacity: 0.80;
}

.btn:hover {
    text-decoration: underline !important;
    opacity: 0.80;
}


// styling the active menu items on  Tab bar
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ),
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited
// {
//     color: #003366 !important;
// }

// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited
// {
//     font-weight:bold !important;
// }

div.border-primary a {
    font-weight:bold !important;
}

.nav-bar-cus {
    font-size:25px;
    border-radius: 5px;
}

.nav-bar-cus:hover {
    background: #CCC;
}

.nav-bar-cus {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
}

// link on the tab
.menu .nav-link.active {
    color: #1a5a96;
    font-weight: normal !important;
    text-decoration: none;
    background: none;
    border-bottom: #1a5a96 2px solid;
    font-family: "BCSans";
    border-radius: 0;
}

.menu .nav-link {
    color: #313132;
    border-bottom: #cfcfcf 2px solid;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 0;
    margin-right: 5px;
}

.modal-header .bg-light .close{
    color:#000!important;
}

.Pendingcolor{
    color:yellow;
}
.Approvedcolor{
    color:green;
}
.Lockedcolor{
    color:red;
}

.card{
    padding:10px;
    height: fit-content;
}
.form-pool:hover .card{
    color:#fff;
    background: #1a5a96;
}
.main-blue{
    color:#3a5f86;
}
body{
    font-size:1rem!important;
}
.btn-outline-primary span {
    color: black;
}
.btn-outline-primary.active span,.btn-outline-primary:hover span{
    color:white;
}
.pool_image,#pool_image{
    max-width:250px;
    max-height:250px;
}
.custom.pagination .page-item{
    padding: 4px 12px 4px 12px;
    border: #a2adb7 2px solid;
    margin-top: 1.2em;
    font-weight: bold;
}

ul.custom.pagination li:nth-child(n+2) {
    margin-left: -2px;
}

ul.custom.pagination li.active {
    background-color: #1a5a96;
    color: white;
    border: #1a5a96 2px solid;
}




.invalid-feedback{
    font-size:14px;
    font-family:"BCSans";
    font-weight:400;
    color:#D8292F;
}

.table-border table,.table-border td,.table-border tr{
    border:#ccc 1px solid;
}

a:focus{
    font-weight:bold;
    text-decoration: underline;
}

.btn:focus, button:focus{
    padding: 4px 12px;
    border: #000 2px solid!important;
    outline: 4px solid #3b99fc;
    outline-offset:1px;
}

.teststyle{
    background: none;
}

input[type='radio'] {
    accent-color: #1A5A96;
}
input[name="keyword"] {
    border:#000 1px solid;
}

#step-charities-area .form-group{
margin-bottom:25px;
}

#step-regional-pools-area::before .p-1{
 padding:0;
}

.step-charities-error-header{
    padding-bottom:25px;
}

#charities td{
    padding:10px;
    border-bottom:#ccc 1px solid;
}

.custom.pagination{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.min-charities-error{
    color:red;
}

#selectedcountresults{
    margin-left:25px;
}
#noselectedresults{
    margin-bottom:25px!important;
}
#organizations td{
    border-top:#ccc 1px solid;
}


.form-row.form-header{
    background: #f2f2f2;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px;
    border: #d2d2d2 1px solid;
    padding-top:15px;
}

.form-row.form-body{
    border: #d2d2d2 1px solid;
    border-top: none;
    padding: 15px;
}

.logo-image-header {
  border-radius:5px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.125);
}
    .pdf-logo-image{
width:100px;
        float:right;
        height:auto;
    }
/* .carousel */

img.reload {
    padding: 0.25em;
    display: block-inline;
    position: relative;
    top: 6px;
    height: 0.9em;
}

.carousel {
    background-color: none;
    max-width: 900px;
}

.carousel .carousel-inner {
    position: relative;
}

.carousel .carousel-items {
    padding: 5px;
}

.carousel .carousel-items.focus {
    padding: 2px;
    border: solid 3px #005a9c;
}

.carousel .carousel-item {
    display: none;
    max-height: 400px;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel .carousel-item.active {
    display: block;
}

/* More like bootstrap, less accessible */

.carousel .carousel-item .carousel-image a img {
    height: 100%;
    width: 100%;
}

.carousel .carousel-item .carousel-caption a {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    font-weight: 600;
}

.carousel .carousel-item .carousel-caption a,
.carousel .carousel-item .carousel-caption span.contrast {
    display: inline-block;
    margin: 0;
    padding: 6px;
    background-color: rgb(0 0 0 / 65%);
    border-radius: 5px;
    border: 0 solid transparent;
}

.carousel-moreaccessible .carousel-items .carousel-image a {
    display: block;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    border: none;
}

.carousel-moreaccessible .carousel-item .carousel-caption a {
    display: inline-block;
    margin: 0;
    padding: 6px;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.carousel-moreaccessible .carousel-item .carousel-caption span.contrast,
.carousel-moreaccessible .carousel-item .carousel-caption span.contrast:hover {
    background-color: transparent;
}

.carousel .carousel-item .carousel-caption a:hover,
.carousel .carousel-item .carousel-caption span.contrast:hover {
    background-color: rgb(0 0 0 / 100%);
}

.carousel .carousel-item .carousel-caption a:focus {
    padding: 4px;
    border: 2px solid #fff;
    background-color: rgb(0 0 0 / 100%);
    outline: none;
    border-width: 2px solid #fff;
    color: #fff;
}

.carousel .carousel-item .carousel-caption p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
}

.carousel .carousel-item .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Shared CSS for Pause, Previous and Next Buttons */

.carousel .controls {
    box-sizing: border-box;
    position: absolute;
    top: 1em;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 0.25em 1.25em 0;
}

.carousel .controls button {
    position: absolute;
    z-index: 10;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
}

.carousel .controls button.previous {
    right: 70px;
}

.carousel .controls button.next {
    right: 18px;
}

/* SVG Controls */

.carousel .controls svg .background {
    stroke: black;
    fill: black;
    stroke-width: 1px;
    opacity: 0.6;
}

.carousel .controls svg .border {
    fill: transparent;
    stroke: transparent;
    stroke-width: 2px;
}

.carousel .controls svg .pause {
    stroke-width: 4;
    fill: transparent;
    stroke: transparent;
}

.carousel .controls svg .play {
    stroke-width: 1;
    fill: transparent;
    stroke: transparent;
}

.carousel .controls .pause svg .pause {
    fill: white;
    stroke: white;
}

.carousel .controls .play svg .play {
    fill: white;
    stroke: white;
}

.carousel .controls svg polygon {
    fill: white;
    stroke: white;
}

.carousel .controls button:focus svg .background,
.carousel .controls button:hover svg .background,
.carousel .controls button:hover svg .border {
    fill: #005a9c;
    stroke: #005a9c;
    opacity: 1;
}

.carousel .controls button:focus svg .border {
    stroke: white;
}

/* More accessible carousel styles, with caption and controls above/below image */

.carousel-moreaccessible {
    padding: 0;
    margin: 0;
    position: relative;
    border: #eee solid 4px;
    border-radius: 5px;
}

/* Shared CSS for Pause and Tab Controls */

.carousel-moreaccessible .controls {
    position: relative;
    top: 0;
    left: 0;
    padding: 0.25em 0.25em 0;
}

.carousel.carousel-moreaccessible .controls {
    position: static;
    height: 36px;
}

.carousel.carousel-moreaccessible .controls button.previous {
    right: 60px;
}

.carousel.carousel-moreaccessible .controls button.next {
    right: 6px;
}

.carousel-moreaccessible .carousel-items,
.carousel-moreaccessible .carousel-items.focus {
    padding: 0;
    border: none;
}

.carousel-moreaccessible .carousel-items.focus .carousel-image a {
    padding: 2px;
    border: 3px solid #005a9c;
}

/* More accessible caption styling */

.carousel-moreaccessible .carousel-item {
    padding: 0;
    margin: 0;
    max-height: none;
}

.carousel-moreaccessible .carousel-item .carousel-caption {
    position: static;
    padding: 0;
    margin: 0;
    height: 60px;
    color: black;
}

.carousel-moreaccessible .carousel-item .carousel-caption p {
    padding: 0;
    margin: 0;
}

.carousel-moreaccessible .carousel-item .carousel-caption h3 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.carousel-moreaccessible .carousel-item .carousel-caption a:hover {
    background-color: rgb(0 0 0 / 20%);
}

.carousel-moreaccessible .carousel-item .carousel-caption a:focus {
    padding: 4px;
    border: 2px solid #005a9c;
    background-color: transparent;
    color: black;
    outline: none;
}

    .center{
        margin-left:auto;
        margin-right:auto;
    }
