/*
VERSION: 3.0.0
*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@400;600;700&display=swap');
@import "@bcgov/bc-sans/css/BCSans.css";
// Variables
@import 'variables';



// fontawesome
$fa-font-path:"../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// adminlte
@import 'node_modules/admin-lte/build/scss/adminlte.scss';
@import 'adminlte-override';




.check-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        padding-left: 1em;
        text-indent: -1em;
        margin: 1.2em;
    }

    li:before {
        padding-right: 5px;
    }
}


.formsteps {
    .divider {
        border-bottom: 1.5px solid;
        border-color: $gray-500;
        height: 27px;
        margin-left: -60px;
        margin-right: -60px;
        &.done {
            border-bottom: 3px solid;
            border-color: $blue;
        }
    }
    .step {
        /* &:before {
            content: '';
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid;
            border-color: $blue;
            position: absolute;
            margin-top: 25px;
        } */
        .count {
            background-color: $gray-100;
            color: $gray-500;
            border: 2px solid;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 1.5em;
            text-align: center;
            padding-top: 8px;
            margin: 0 auto;
        }
        &.active {
            .count {
                border-color: $blue;
            }
            .title {
                color: $blue;
                font-weight: bold;
            }
        }
        &.done {
            .count {
                border-color: $blue;
                background-color: $blue;
                color: #fff;
            }
            .title {
                color: $black;
                font-weight: bold;
            }
        }
    }
}

.expander {
    border: 1px solid $primary;
    border-radius: 50%;
    background-color: $primary;
    color: #fff;
    width: 1.05em;
    height: 1.05em;
    text-align: center;
    font-size: 1em;;
    line-height: 0.89em;
    &::after {
        content: '+';
    }
}

[aria-expanded="true"] .expander::after{
    content: '-';
}

// Primary Button -- https://developer.gov.bc.ca/Design-System/Primary-Button
a:hover {
    text-decoration: underline !important;
    opacity: 0.80;
}

.btn:hover {
    text-decoration: underline !important;
    opacity: 0.80;
}


// styling the active menu items on  Tab bar
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ),
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited
// {
//     color: #003366 !important;
// }

// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
// a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited
// {
//     font-weight:bold !important;
// }

div.border-primary a {
    font-weight:bold !important;
}

.nav-bar-cus {
    font-size:25px;
    border-radius: 5px;
}

.nav-bar-cus:hover {
    background: #CCC;
}

.nav-bar-cus {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
}

// link on the tab
.menu .nav-link.active {
    color: #1a5a96;
    font-weight: normal !important;
    text-decoration: none;
    background: none;
    border-bottom: #1a5a96 2px solid;
    font-family: "BCSans";
    border-radius: 0;
}

.menu .nav-link {
    color: #313132;
    border-bottom: #cfcfcf 2px solid;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 0;
    margin-right: 5px;
}

.modal-header .bg-light .close{
    color:#000!important;
}

.Pendingcolor{
    color:yellow;
}
.Approvedcolor{
    color:green;
}
.Lockedcolor{
    color:red;
}

.card{
    padding:10px;
    height: fit-content;
}
.form-pool:hover .card{
    color:#fff;
    background: #1a5a96;
}
.main-blue{
    color:#3a5f86;
}
body{
    font-size:1rem!important;
}
.btn-outline-primary span {
    color: black;
}
.btn-outline-primary.active span,.btn-outline-primary:hover span{
    color:white;
}
.pool_image,#pool_image{
    max-width:250px;
    max-height:250px;
}
.custom.pagination .page-item{
    padding: 4px 12px 4px 12px;
    border: #a2adb7 2px solid;
    margin-top: 1.2em;
    font-weight: bold;
}

ul.custom.pagination li:nth-child(n+2) {
    margin-left: -2px;
}

ul.custom.pagination li.active {
    background-color: #1a5a96;
    color: white;
    border: #1a5a96 2px solid;
}




.invalid-feedback{
    font-size:14px;
    font-family:"BCSans";
    font-weight:400;
    color:#D8292F;
}

.table-border table,.table-border td,.table-border tr{
    border:#ccc 1px solid;
}

a:focus{
    font-weight:bold;
    text-decoration: underline;
}

.btn-lg:focus{
    padding: 4px 12px;
    border: #000 5px solid!important;
    font-weight:normal;
}

.btn-md:focus{
    padding: 1px 7px;
    border: #000 5px solid!important;
    font-weight:normal;
}

.teststyle{
    background: none;
}

input[type='radio'] {
    accent-color: #1A5A96;
}
input[name="keyword"] {
    border:#000 1px solid;
}

#step-charities-area .form-group{
margin-bottom:25px;
}

#step-regional-pools-area::before .p-1{
 padding:0;
}

.step-charities-error-header{
    padding-bottom:25px;
}

#charities td{
    padding:10px;
    border-bottom:#ccc 1px solid;
}

.custom.pagination{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 30%;
}

.min-charities-error{
    color:red;
}

#selectedcountresults{
    margin-left:25px;
}
#noselectedresults{
    margin-bottom:25px!important;
}
#organizations td{
    border-top:#ccc 1px solid;
}
